<div id="<%= dom_id pizza_size %>">
  <p>
    <strong>Name:</strong>
    <%= pizza_size.name %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= pizza_size.p_size %>
  </p>

  <p>
    <strong>Basic price:</strong>
    <%= pizza_size.basic_price %>
  </p>

</div>
