<div id="<%= dom_id pizzeria_point %>">
  <p>
    <strong>Name:</strong>
    <%= pizzeria_point.name %>
  </p>

  <p>
    <strong>Ingredients price:</strong>
    <%= pizzeria_point.ingredients_price_id %>
  </p>

</div>
